@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
  ---shadow:#262c41;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav{
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1{
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active{
  background: var(--primary);
}
/* page content */
main{
  max-width: 1200px;
  margin: 40px auto;
  
}

/* help layout */

.help-layout nav{
  display: flex;
  gap: 40px;
  margin: 30px auto;
  justify-content: center;
  
}
.help-layout a{
  text-decoration: none;
  font-size: 19px;
  border: solid white 2px;
  border-radius: 5px;
  padding: 10px;
}
.help-layout nav a:hover{
  border: solid var(--primary) 2px;
}
.help-layout nav a.active{
  background-color: var(--primary);
}

/* faq */
.faq h3{
  font-size: 23px;
  margin-bottom: 20px;
}

.questions{
  background-color: var(---shadow);
  padding: 10px 20px;
  margin-bottom: 20px;
}
.contact h3{
  margin-bottom: 30px;
}
 label{
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 18px;
 }
 input, textarea{
  border-radius: 5px;
  margin-bottom: 30px;
 }
 input{
  height: 35px;
 }
 textarea{height: 60px;}
 span{
  margin-bottom: 10px;
 }
 .contact button{
  font-size: 18px;
  padding: 10px 25px;
 }
/* careers list */
.eachCareer{
  background-color: var(---shadow);
  padding: 5px 40px;
  margin: 20px;
}
.careers a{
  text-decoration: none;
}
.careers .title{
  font-size: 18px;
  margin-bottom: -15px;
}
.careers .location{
  opacity: 0.8;
  font-size: 15px;
}
.title:hover, .location:hover{
  color: var(--primary);
}
/* careers details */
.career-details{
  background-color: var(---shadow);
  padding: 20px 30px 40px 30px;
  
}

/* breadcrumbs */
